@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .activeLink {
    @apply bg-gray-600 rounded-ss-2xl rounded-ee-2xl;
  }
  .section-min-height {
    min-height: calc(100vh - 128px);
  }
  .support-height {
    height: calc(100vh - 184px);
  }
  .gridMain {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px repeat(2, 150px);
    column-gap: 50px;
  }
  .gridMain > * {
    padding: 20px;
  }
  .gridMain img {
    grid-row: 1 / 4;
    grid-column: 2 / 3;
  }
  .gridMain h1 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }
  .gridMain p {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }
  .gridMain form {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
  }
  .buttonMainHeader {
    @apply hover: hover:bg-green-400   hover:text-white   duration-300 text-light-green text-nowrap text-xl  px-7 py-5 w-fit rounded-3xl h-5 flex justify-center items-center;
  }
  .buttonMain {
    @apply bg-green-400  text-white  duration-300  text-nowrap text-xl  px-7 py-5 w-fit rounded-3xl h-5 flex justify-center items-center;
  }
  .buttonLogout {
    @apply hover:bg-light-black hover:rounded-full hover:text-white   duration-300 bg-red-700 text-nowrap text-xl text-light-white px-7 py-5 w-fit rounded-3xl h-5 flex justify-center items-center;
  }
  .date:after {
    content: "";
    position: absolute;
    border-top: 1px solid #e2e8f0;
    top: 12px;
    width: 150px;
  }

  .date:after {
    margin-left: 15px;
  }

  .deseaper {
    display: none;
    top: -400px;
    right: 2.5rem;
    position: absolute;
    z-index: 100;
    border-radius: 0.375rem;
    transition: all 0.5s ease-in-out;
  }
  .appear {
    display: block;
    top: 10px;
    right: 2.5rem;
    position: absolute;
    z-index: 100;
    border-radius: 0.375rem;
  }
}
